body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0;
}

.container {
    max-width: 90%;
    margin: 2rem auto 2rem;
}

a {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: medium;
    color: black;
    text-decoration: none;

    display: inline-block;
} 

ul {
    list-style: none;
}

/* Navbar */

.row {
    display: flex;
    align-items: center;
}

header {
justify-content: space-between;
align-items: center;
padding: .8rem;
}

header ul {
    gap: 2em;
}

.navigation {
    flex-grow: 1;
    align-items: center;
}

.primary-list {
    margin: 0 auto;
}

.secondary-list {
    margin: 0;
}

.nav-bottom-border {
    padding: 2rem;
    background-color: black;
}


/* HERO SECTION */ 

.hero-img {
    max-width: 100%;
}

section {
    align-items: center;
    padding: 1.5em 0;
}

section.container.hero.row {
    background-image: url(media/media_index/hero-section_IMG.jpg);
    background-repeat:no-repeat;
    width: 100%;
    object-fit: cover;
}

/* BRAND SECTION */ 

.brand-img {
    max-width: 100%;
}

section.our-brand {
    display: flex;
    justify-content: right;
    text-align: right;
    padding: 1.5em 0;
}

/* H1 */
h1
{
    font-family: 'Zilla Slab Highlight', cursive;
    font-weight: 700;
    font-size: 50pt;
    color: black;
}

.our-products h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 2rem;
}

/* H2 */

h2 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-weight: 400;
    font-size: 32pt;
    color: black;
}

h2 .left-text {
    display: flex;
    justify-content: right;
    align-content: right;
}

/* P1 */

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    color: black;
}

.p-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20pt;
    color: black;
}

.our-products p {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.hero-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    color: grey;
}

/* P2 */

.p2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    color: black;
}

.profile-info .p2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    color: grey;
}

/* BUTTONS */

.btn-fill {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 10pt;
    background-color: black;
    color: white;
    padding: 12pt;
}

.btn-stroke {
    font-family: 'Roboto', sans-serif;
    font-weight: 10pt;
    font-size: small;
    color: black;
    stroke-width: 1px;
    stroke: black;
}

/* PAGE HEADERS */

.secondary-page-header {

}